.equipment-repair-slider {
  position: relative;
  padding-bottom: 3.1rem;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    margin-bottom: 2.4rem;
    height: 180px;

    &--full {
      height: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: -0.4rem;
    right: -1px;
    display: block;
    width: 2.4rem;
    height: 16.8rem;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__wrapper {
    @media (min-width: $tablet) {
      flex-wrap: wrap;
      width: auto;
      height: auto;
      margin: 0 calc(var(--gap) * -0.5);
      margin-top: -1.6rem;
    }
  }

  &__slide {
    @media (min-width: $tablet) {
      width: 33.33%;
      margin-top: 1.6rem;
      padding: 0 calc(var(--gap) * 0.5);
    }

    @media (min-width: $desktop) {
      width: 25%;
    }
  }

  &__pagination {
    bottom: 0 !important;
  }
}

.equipment-repair-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  width: 100%;
  padding: 1.6rem;
  background: $white;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  &__title {
    margin: 0 0 1.6rem 0;
    font-size: 1.6rem;
    letter-spacing: -0.2px;
    font-weight: 400;
  }
  &__icon {
    align-self: flex-end;
  }
}
